body {
  padding-top: 6%;
  padding-bottom: 150px;
  background-image: url(https://daks2k3a4ib2z.cloudfront.net/588659f1bffc966e7cdc12b7/588664c5842481330a879000_dreamsnapBackground.jpg);
  background-position: 38% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  color: #222;
  display: block;
  margin-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.main-header {
  margin: 35px 0;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 32px;
  line-height: 36px;
  font-weight: 100;
}

#email-form {
  margin-top: 20px;
}

.email-input {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent #6b6b6b;
  background-color: transparent;
  color: #6b6b6b;
  padding: 7px 0 10px;
}

.submit-button {
  width: 250px;
  height: 50px;
  margin-top: 5%;
  background-color: #8038ec;
  background-image: linear-gradient(90deg, #3023ae, #c96dd8);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  border: 0;
  color: white;
}

.promo-button {
  width: 44%;
  max-width: 150px;
  margin-top: 10px;
  margin-right: 5%;
  cursor: pointer;
}

.mobile-container {
  height: 500px;
  width: 200px;
  padding-top: 50px;
}

.footer {
  padding: 50px 0;
  width: 100%;
  background-color: #36323c;
  height: 150px;
}

.footer-logo {
  float: left;
}

.foot-note {
  color: #776f83;
  float: left;
  font-size: 12px;
  border-left: 2px solid #776f83;
  padding-left: 10px;
  margin-left: 10px;
}

.social-button {
  overflow: visible;
  margin-left: 10%;
  float: right;
}

.screen {
  z-index: 10 !important;
}

a:hover # {
  fill: #3b5998;
}

a:hover # {
  fill: #326ada;
}

a:hover # {
  fill: #8a3ab9;
}

.footer-bender {
  text-align: center;
}
.footer-bender p {
  color: #776f83 !important;
}
.footer-bender p a {
  color: #776f83;
  text-decoration: underline;
}
.footer-bender p a:hover {
  color: white;
}

/* MEDIA QUERIES */

/* On low-height, high-width devices make top padding as small as possible,
   also make footer smaller */
@media (max-height: 720px) and (min-width: 700px) {
  body {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .footer {
    height: 100px;
    padding-top: 30px;
  }
}

/* On mobile or tablet remove bottom padding and add a nice top padding */
@media (max-width: 800px) {
  body {
    padding-top: 15%;
    padding-bottom: 0;
  }
}

/* On mobile and tablets make footer absolutely possitioned (to place it on the page footer),
   also make dreamsnap logo comply to a specific height*/
@media (min-width: 700px) {
  .footer {
    position: absolute;
    bottom: 0;
  }

  .dm-logo {
    height: 40px !important;
  }
}

/* On mobile and tablets separate footer from content and make dreamsnap logo as wide as possible. */
@media (max-width: 700px) {
  .footer {
    margin-top: 10px;
  }

  .dm-logo {
    width: 100%;
  }
}
